<html lang="de">

<head th:replace="PizzaForever-App :: html_head"> </head>

<body>

<!-- Navigation-->
<div th:replace="fragments/topnav :: navbar"></div>
<div class="container" style="width: 100%;">
	<div class="row">
		<div class="col-4">
			<img src="../static/img/done.png" width="100%"/>
		</div>
		<div class="col-8">
			<div class=" text-center">
				<h1 class="center">Danke für Ihre bestellung !</h1>
				<p class="lead"><strong>Wir werden es schnell wie möglioch nach Ihnen schicken</strong><hr>
				<p>
					Möchten Sie änderung ? <a href="">Rufen Sie uns</a>
				</p>
				<div sec:authorize="isAuthenticated()" class="lead">
					<form th:action="@{/}" method="GET">
						<button type="submit" class="btn btn-outline-primary"><i class="fa fa-user-plus">
							Bestellen Sie etwas anderes</i></button>
					</form>
				</div>
			</div>
		</div>
	</div>


</div>
</body>
</html>