<html lang="de">

<head th:replace="PizzaForever-App :: html_head"> </head>

<body>

<!-- Navigation-->
<div th:replace="fragments/topnav :: navbar"></div>

<div class="container" style="width: 100%;">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info panel-shadow">
                    <div class="panel-heading">
                        <h3>
                            <img class="img-circle img-thumbnail" src="../static/img/korb.png" style=" width: 177px; ">
                            <span style=" margin-left: 40%; ">Ihrem Warenkorb</span>
                        </h3>
                    </div>
                    <div class="panel-body"> 
                        <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Pizza</th>
                                <th>Größe</th>
                                <th>Menge</th>
                                <th>Zwischensumme</th>
                                <th>Dieses Bestellung löschen</th>
                                <th>(Menge x Preis)</th>
                            </tr>
                            </thead>
                            <tbody>        
                             <th:block th:each="item : ${cart.getItems()}">
                                <tr>
                                    <td><strong th:text="${item.getPizza().getName()}" ></strong><br><i th:text="${item.getSize()}"></i></td>
                                    <td> 
                                        <form th:action="@{/updatePizzaSize}" class="form-inline" method="POST">
                                            <input type="hidden" name="itemId" th:value="${item.getId()}" />
                                            <select th:name="size">
                                                <option selected disabled>Hier Gr&ouml;&szlig;e &auml;ndern</option>
                                                <option value="SMALL">Small</option>
                                                <option value="MEDIUM">Medium</option>
                                                <option value="LARGE">Large</option>
                                            </select>
                                            <button rel="tooltip" type="submit" class="btn btn-default"><i class="fa fa-pencil"></i></button>
                                         </form>
                                    </td>
                                    <td>
                                        <form th:action=@{/updatePizzaQuantity} class="form-inline" method="POST">
                                            <input type="hidden" name="itemId" th:value="${item.getId()}" />
                                            <input type="number" name="quantity" th:value="${item.getQuantity()}" min="1"
                                                class="quantity-field" style=" width: 30%; " />
                                            <button rel="tooltip" type="submit" class="btn btn-default"><i class="fa fa-pencil"></i></button>
                                        </form>
                                    </td>
                                    <td><span th:text="${item.getSinglePriceFromPizzaAndSize()}"></span></td>
                                    <td>
                                        <form th:action="@{/removeItemFromCart}" class="form-inline" method="POST">
                                        <input type="hidden" name="itemId" th:value="${item.getId()}" />
                                        <button type="submit" class="btn btn-primary" style=" margin-left: 40%; "><i class="fa fa-trash-o"></i></button>
                                        </form>
                                    </td>
                                    <td>
                                        <span th:text="${item.getPrice()}"></span>
                                    </td>
                                </tr>
                             </th:block>
                             <tr>
                                 <td colspan="4" class="text-right">Versand kosten</td>
                                 <td>0.00&#8364;</td>
                             </tr>
                             <tr>
                                 <td colspan="4" class="text-right"><strong>Gesamt</strong></td>
                                 <td><span th:text="${sum}"></span><span>&#8364;</span></td>
                             </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <form th:action="@{/pay(from=${currentCustomer.getId()})}" method="POST">
                    <input type="submit" class="btn btn-outline-success pull-right" value="bezahlen" />
                </form>
                <form th:action="@{/}" method="GET">
                    <input type="submit" class="btn btn-outline-primary pull-left" value="Einkauf fortsetzen" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>